{erl_opts,
 [% {parse_transform, lager_transform},
  warn_export_all,
  warn_export_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_function,
  warn_deprecated_function,
  warn_unused_import,
  warnings_as_errors]}.

{minimum_otp_vsn, "22"}.

{eunit_opts, [export_all]}.% same as options for eunit:test(Tests, ...)

{eunit_tests, [{application, geoip}]}. % same as Tests argument in eunit:test(Tests, ...)

{ct_compile_opts, [{parse_transform, cth_readable_transform}]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{eunit_compile_opts,
 % to avoid 'do eunit, ct' eating up the parse transform
 [{parse_transform, cth_readable_transform}]}.

{cover_enabled, true}.

{dist_node, [{name, 'geoip@127.0.0.1'}, {setcookie, xxxx}]}.

{deps, []}.

{profiles,
 [{test,
   [{erl_opts,
     [{parse_transform, lager_transform},
      {d, 'TEST'},
      nowarn_export_all,
      export_all,
      {i, "test/eunit"}]},
    {shell, [{config, "config/sys.config"}]},
    {deps,
     [jsx,
      recon,
      meck,
      lager,
      {cth_readable, {git, "https://github.com/ferd/cth_readable.git", {tag, "v1.5.1"}}}]}]}]}.

{pre_hooks,
 [{clean, "sh crates/build_crates.sh clean"},
  {compile, "sh crates/build_crates.sh build"}]}.
